<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GAMEstarter.Properties.Settings.GameStartDBConnectionString"
            connectionString="Data Source=213.155.192.79,3002;Initial Catalog=GameSTART;User ID=oleg;Password=n8kd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>